<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>About Us</h2>
    </div>
    <div class="content">
      <p style="text-align: justify; font-size: 15px">
        The project entitled "Chat Bot – Moratorium Customers" to gather the
        data about why the customers have opted for moratorium. This is a web
        application. We have developed a chatbot for easy communication. In
        today's time, it is difficult to go to the bank and resolve the issue.
        By using our system the banker will get all the information related to
        the customer who has opted for the moratorium. The user will interact
        with the chatbot and give his/her responses. These responses will be
        stored in the database and will be given to the banker, who will further
        analyze it. The main purpose of this project is to help the banker to
        know whether the customer who has applied for the moratorium is genuine
        or not. By this system, both the customer and the banker can save their
        time.
      </p>

      <p style="text-align: center">Team Members</p>
    </div>

<div class="card-deck"  style="display: -ms-flexbox;  display: flex;  -ms-flex-flow: row wrap;  flex-flow: row wrap;  margin-right: -15px;  margin-left: -15px;  margin-top: 80px;">
  <div class="card" style="text-align: center;">
    <img class="pp" src="assets/img/ali.png" style="overflow: hidden; background-color: antiquewhite;">
    <div class="card-body">
      <h3 class="card-title" style="font-size: medium; color: black; font-weight: bolder; text-align: center; text-underline-position: below;">Muzasarali Badger</h3>
      <li class="card-text" style='list-style: none; text-align: center; font-size: 12px; '>
          <h5>Rasa Chatbot</h5>
          <h5>Android Application</h5>
      </li>
    </div>
    <div class="card-footer" style="margin:0px; align-items: flex-start; display: flex;">
        <ul id="services">
          <li>
            <div class="linkedin">
              <a href="https://www.linkedin.com/in/muzasarali14/">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </div>
          </li>
          <li>
            <div class="github">
              <a href="https://github.com/Muzasarali">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
            </div>
          </li>
        </ul>
      
    </div>
  </div>
  <div class="card" style="text-align: center;">
    <img class="pp" src="assets/img/pranish.png" style="overflow: hidden; background-color: rgb(0, 225, 255);">
    <div class="card-body" >
      <h3 class="card-title" style="font-size: medium; color: black; font-weight: bolder; text-align: center; text-underline-position: below;">Pranish Kumbhar</h3>
      <li class="card-text" style='list-style: none; text-align: center; font-size: 12px; '>
          <h5>Server Backend</h5>
          <h5>Web Crawling</h5>
      </li>
    </div>
    <div class="card-footer" style="margin:0px; align-items: flex-start; display: flex;">
      <ul id="services">
        <li>
          <div class="linkedin">
            <a href="https://www.linkedin.com/in/pranish-kumbhar-081099/" id="lin">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </div>
        </li>
        <li>
          <div class="github">
            <a href="https://github.com/PranishGreat" id="git">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
          </div>
        </li>
      </ul>
    
  </div>
  </div>
  <div class="card" style="text-align: center;">
    <img class="pp" src="assets/img/vedanti.png" style="overflow: hidden; background-color: rgb(0, 255, 179);">
    <div class="card-body">

      <h3 class="card-title" style="font-size: medium; color: black; font-weight: bolder; text-align: center; text-underline-position: below;">Vedanti Bhatkar</h3>
      <li class="card-text" style='list-style: none; text-align: center; font-size: 12px; '>
          <h5>Server Backend</h5>
          <h5>Web Frontend</h5>
      </li>
    </div>
    <div class="card-footer" style="margin:0px; align-items: flex-start; display: flex;">
      <ul id="services">
        <li>
          <div class="linkedin">
            <a href="https://www.linkedin.com/in/vedanti-bhatkar-2ab76719b/" id="lin">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </div>
        </li>
        <li>
          <div class="github">
            <a href="https://github.com/vedanti13" id="git">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
          </div>
        </li>
      </ul>
    
  </div>
  </div>
  <div class="card" style="text-align: center;">
    <img class="pp" src="assets/img/payal.png" style="overflow: hidden; background-color: rgb(166, 255, 0);">
    <div class="card-body">

      <h3 class="card-title" style="font-size: medium; color: black; font-weight: bolder; text-align: center; text-underline-position: below;">Payal Chavan</h3>
      <li class="card-text" style='list-style: none; text-align: center; font-size: 12px; '>
          <h5>Rasa Chatbot</h5>
          <h5>Web Frontend</h5>
      </li>
    </div>
    <div class="card-footer" style="margin:0px; align-items: flex-start; display: flex;">
      <ul id="services">
        <li>
          <div class="linkedin">
            <a href="https://www.linkedin.com/in/payal-chavan-2abb621a2/" id="lin">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </div>
        </li>
        <li>
          <div class="github">
            <a href="https://github.com/Payal55" id="git">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
          </div>
        </li>
      </ul>
    
  </div>
  </div>
</div>
  </div>
</section>
<!-- End About Us Section -->
