<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>About Us</h2>
    </div>
    <div class="content">
      <p style="text-align: justify; font-size: 15px">
        The project entitled "Chat Bot – Moratorium Customers" to gather the
        data about why the customers have opted for moratorium. This is a web
        application. We have developed a chatbot for easy communication. In
        today's time, it is difficult to go to the bank and resolve the issue.
        By using our system the banker will get all the information related to
        the customer who has opted for the moratorium. The user will interact
        with the chatbot and give his/her responses. These responses will be
        stored in the database and will be given to the banker, who will further
        analyze it. The main purpose of this project is to help the banker to
        know whether the customer who has applied for the moratorium is genuine
        or not. By this system, both the customer and the banker can save their
        time.
      </p>

      <p style="text-align: center">Team Members</p>
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <ul style="text-align: center">
            <div style="display: flex; float: right">
              <div class="ro">
                <li><i class="ri-check-double-line"></i> Muzasarali Badger</li>
                <li><i class="ri-check-double-line"></i> Pranish Kumbhar</li>
              </div>
            </div>
          </ul>
        </div>
        <div class="col-lg-6 col-md-6">
          <ul style="text-align: center">
            <div style="display: flex; float: left">
              <div class="ro">
                <li><i class="ri-check-double-line"></i> Vedanti Bhatkar</li>
                <li><i class="ri-check-double-line"></i> Payal Chavan</li>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Us Section -->
