<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome/
4.7.0/css/font-awesome.min.css">

<div class="middle" onclick="openChat()">
  <div class="popup bubble bubble-bottom-left middle" id="popup">
  <p>Chat Here...</p>
</div>
  <a class="botbtn" href="#">
    <i class="fa fa-comment"></i>
  </a>
</div>
<div class="chat_window" id="openChat">
  <div class="top_menu">
    <div class="buttons" onclick="closeChat()">
      <button type="button" class="close" aria-label="Close" ><i class="fa fa-close" style="font-size:22px;color:red"></i></button>
    </div>
    <div class="title">Virtual Assistant</div>
  </div>
  <!-- <ul class="messages"></ul> -->

  <ul class="messages" id="msgul">
    <li class="message left appeared">
     <div class="avatar"><img class="imgs" src="img/bot.jpg" /></div>
      <div class="text_wrapper">
        <div class="text">Hey!<br>How can I help you?</div>
      </div>
    </li>
  </ul>














  <div class="bottom_wrapper clearfix">
    <div class="message_input_wrapper">
      <input
        id="userMessage"
        class="message_input"
        placeholder="Type your message here..." onkeypress="return
        enterKeyPressed(event)"
      />
    </div>
    <div
      class="send_message" id="chatbtn"
      onclick="setUserResponce(document.getElementById('userMessage').value);"
    >
      <div class="icon"></div>
      <div class="text">Send</div>
    </div>
  </div>
</div>
<div class="message_template">
  <li class="message">
    <div class="avatar"></div>
    <div class="text_wrapper">
      <div class="text"></div>
    </div>
  </li>
</div>

<script>
  var input = document.getElementById("userMessage");
input.addEventListener("keyup", function(event) {
  if (event.keyCode === 13) {
   event.preventDefault();
   document.getElementById("chatbtn").click();
   console.log("x");
  }
});
</script>