<aside>
    <div id="sidebar" class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu">
        <li class="active">
          <a class="" href="/admin_index">
                        <i class="icon_house_alt"></i>
                        <span>Dashboard</span>
                    </a>
        </li>
       
        <li class="sub-menu">
          <a href="javascript:;" class="">
                        <i class="icon_table"></i>
                        <span>Tables</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
          <ul class="sub">
            <li><a class="" href="/pending">Pending</a></li>
            <li><a class="" href="/approved">Approved</a></li>
            <li><a class="" href="/rejected">Rejected</a></li>
          </ul>
        </li>

        <li class="sub-menu">
          <a href="/admin_contact" class="">
                        <i class="fa fa-phone-square"></i>
                        <span>Contact</span>
                    </a>
        </li>

      </ul>
      <!-- sidebar menu end-->
    </div>
  </aside>